<div class="container">
  <div class="center">
    <ul>
      <li><img src="/assets/images/opensource.png" /></li>
      <li><img src="/assets/images/linux.jpeg" /></li>
      <li><img src="/assets/images/js.png" /></li>
      <li><img src="/assets/images/node.png" /></li>
    </ul>
  </div>
  <img class="profile" src="/assets/images/New_profile.jpg" alt="" />
  <h1>{{ site.texture.title }}</h1>
  <h2>{{ site.texture.tagline }}</h2>
  <ul class="social">
    {%- if site.texture.social_links.github -%}
    <a href="https://github.com/{{ site.texture.social_links.github }}"
      ><li><i class="icon-github-circled"></i></li
    ></a>
    {%- endif -%} {%- if site.texture.social_links.linkedIn -%}
    <a href="https://linkedin.com/{{ site.texture.social_links.linkedIn }}"
      ><li><i class="icon-linkedin-squared"></i></li
    ></a>
    {%- endif -%} {%- if site.texture.social_links.twitter -%}
    <a href="https://twitter.com/{{ site.texture.social_links.twitter }}"
      ><li><i class="icon-twitter-squared"></i></li
    ></a>
    {%- endif -%}
  </ul>
</div>
