<!DOCTYPE html>
<html lang="en">
<head>
    {%- include head.html -%}
</head>
<main class="container">
    <section class="about">
        <img src="{{ "/assets/images/perfil.jpg" | relative_url }}" alt="{{ site.title }}">
        <h2>{{ site.title }}</h2>
        <p class="tagline">{{ site.about }}</p>
        

        <ul class="social">
            {%- if site.social_links.github -%}
				<a href="{{ site.github }}"><li><i class="icon-github-circled"></i></li></a>
            {%- endif -%}
            {%- if site.social_links.linkedIn -%}
				<a href="{{ site.linkedIn }}"><li><i class="icon-linkedin-squared"></i></li></a>
            {%- endif -%}
            {%- if site.social_links.twitter -%}
                <a href="{{ site.twitter }}"><li><i class="icon-twitter-squared"></i></li></a>
            {%- endif -%}
        </ul>
          <hr />
          <div class="humberto-divide"></div>
        
          <ul class="sidebar-nav">
            
            {% for i in site.data.navigation %}
              <li><a  href="{{ i.link }}" {% if page.url == item.link %} class="currenti" {% endif %}>{{ i.name }}</a></li>
            {% endfor %}
          </ul>
        <p class="humberto-copy">&copy; 2019</p>
    </section>
    <section class="content">
         <div class="humberto-skills">
           <ul>
             <li>
               <img src="{{ "/assets/images/linux.png" | relative_url }}"  alt="{{ site.title }}">
             </li>
             <li>
                <img src="{{ "/assets/images/js.png" | relative_url }}"  alt="{{ site.title }}">
              </li>
              <li>
                <img src="{{ "/assets/images/react.png" | relative_url }}"  alt="{{ site.title }}">
              </li>
              <li>
                <img src="{{ "/assets/images/flutter.png" | relative_url }}"  alt="{{ site.title }}">
              </li>
              <li>
                <img src="{{ "/assets/images/firebase.jpeg" | relative_url }}"  alt="{{ site.title }}">
              </li>
           </ul>
         </div>
        {{ content }}
    </section>
    <footer class="humberto-footer">
      <p>Este e o meu site 2019</p>
    </footer>
</main>
</body>
</html>